body{
    background-color: aliceblue;
}
.bigCounter{
    margin: 200px;
    background-color: black;
    width: 600px;
    height: 250px;
    
}
.digit{
    padding:5px;
    margin:2px;
    width: 150px;
    height: 200px;
    border: 10px;
    font-size: 100px;
    display: inline;
}

#four{
    background: greenyellow;
}