body{
    background-color: aliceblue;
}
.container{
    margin: 200px;
    background-color: black;
    width: 600px;
    height: 300px;
    align-items: center;

}
.card body{
    padding-top: 30px;
    width: 300px;
    height: 200px;
    background: greenyellow;
    border: 20px;
}