body{
    background-color: aliceblue;
}
.container{
    margin-top: 200px;
    background-color: black;
    width: 400px;
    height: 300px;
    align-items: center;

}
.card{
    align: center;
   width: 150px;
    background: greenyellow;
}